*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #181823;
    width: 100%;
    height: 608px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.isisemua{
    background-image: url(https://wallpapercave.com/wp/dHllHH1.jpg);
    background-size: cover;
    width: 30%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.isisemua .isisemua2{
    width: 50%;
    height: 100%;
    object-fit: cover; 
}
@media (max-width: 768px) {
    .isisemua {
        width: 90%;
        }
    .container{
        height: 844px;
    }
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color:#000000 ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;

    
}
.navbar{
  display: block;
  justify-content: center;
    align-items: center;
    margin: auto;
}
a{
    
    border-radius: 10px;
    width: 90%;
    background-color: #19A7CE;
    display: flex;
    text-decoration: none;
    margin: 10px ;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 6px 6px 0px 0px rgba(227,227,227,0.75);
-webkit-box-shadow: 6px 6px 0px 0px rgba(227,227,227,0.75);
-moz-box-shadow: 6px 6px 0px 0px rgba(227,227,227,0.75);
transition: transform 0.2s;
    
}
a:active {
    transform: scale(0.9);
  }
.navbar img{
    width: 10%;
    margin: 8px;
}
a:hover{
    background-color: #00C4FF;
}


